.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.card { border-radius:10px; }
.btn-electric { background:#2F80ED; color:#fff; transition:0.3s; }
.btn-electric:hover { background:#1ABC9C; }
